<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册之后就可以登录啦</title>
</head>
<body>

<form method="post" action="/loginpage/">
    <p>欢迎您注册网站会员，如果您已拥有账户，则可以点此<input type="submit" name="signup" value="登陆"></p>
</form>
<form method="post" action="/realSignup/">
    <label>用户名：</label>
    <input type="text" name="username" placeholder="用户名" maxlength="20" minlength="2"><br>
    <label>密码：</label>
    <input type="password" name="password" placeholder="密码" maxlength="20" minlength="2"><br>
    <label>重复密码：</label>
    <input type="password" name="passwordAgain" placeholder="重复密码"  maxlength="20" minlength="2"><br>
    <input type="submit" name="signup" value="注册">
</form>
{{ error }}
</body>
</html>