<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册之后就可以登录啦</title>
</head>
<body>
<form method="post" action="/realSignup/">
    <p>欢迎您注册网站会员，如果您已拥有账户，则可以在此<a href="localhost:8000/loginpage/">登录</a></p>
    <input type="text" name="username" placeholder="输入用户名"><br>
    <input type="password" name="password" placeholder="输入密码"><br>
    <input type="password" name="passwordAgain" placeholder="再输一次密码"><br>
    <input type="submit" name="signup" value="注册">
</form>
</body>
</html>